# Main programming languages
*.cs linguist-language=C#
*.js linguist-language=JavaScript

# Web files
*.cshtml linguist-vendored
*.razor linguist-vendored

# Styling
*.scss linguist-vendored
*.css linguist-vendored

# Database
*.sql linguist-vendored
