# C#
*.cs linguist-language=C#

# JavaScript
*.js linguist-language=JavaScript

# Razor / HTML
*.cshtml linguist-language=HTML
*.razor linguist-language=Razor

# CSS / SCSS
*.css linguist-language=CSS
*.scss linguist-language=SCSS

# SQL
*.sql linguist-language=SQL
